<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Questions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="<%= url('/main.css')%>" />
    
    <script src="main.js"></script>
</head>

<body>
    
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6"><h1>Questions</h1></div>
        <div class="col-lg-3"><a href="/">          
        <form class="d-none" id="log-out" action="/" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" name="" value="Log Out">
        </form>
        <button class="btn btn-secondary btn-md" type="submit" name="button" form="log-out">Log Out</button></a></div>
    </div>
    <br>
    <div class="container">
        <% @posts.each do |post| %>
        <div class="row question-<%= post.id %>"></div>
        <div class="row">
            <div class="col-lg-1 text-right">
                <label for="Qid"><%= post.id %></label>
            </div>
            <div class="col-lg-10">
                <input type="hidden" name="Qid" value=<%=post.id%>>
                <form method="POST" action="/question/1">
                    <label for="id"></label>
                    <input type="hidden" name="id" value=<%=post.id%>>
                    <label for="question" class="flaggedQ"><%= post.question%></label>
                    <label for="studentanswer"></label>
                    <textarea name="studentanswer" class="form-control" id="question-<%= post.id %>-text" rows="3"><% @studentanswers.each do |answer| %><% if(post.id == answer.id) %><%= answer.studentanswer%><% end %><% end %></textarea>
                    <input type="submit" value="save">
                </form>
                <br>
                <br>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
        <% end %>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">
                <a href='/info'><button type="button" class="btn btn-info">Info</button></a>
            </div>
            <div class="col-lg-2">
                <a href='/student/score'> <button type="button" class="btn btn-primary">Submit</button></a>
            </div>
        </div>
        <br>
    </div>

</body>

</html>
